.container {
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.formcontainer {
    background-color: #e0e1e7;
    width: 65%;
    border-radius: 25px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.formresult {
    background-color: #e0e1e7;
    width: 45%;
    border-radius: 25px;
    padding: 50px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}

.formresult h1 {
    color: rgb(59, 59, 59);
    box-sizing: border-box;
    border-bottom: rgb(120, 119, 119) 2px solid;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=date],
input[type=password],
input[type=number],
select,
textarea {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #E5E9F5;
    background-color: #F6F7FA;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 70%;
    box-sizing: content-box;
}

input[type=checkbox] {
    cursor: pointer;
}

fieldset {
    display: block;
    margin-bottom: 20px;
    border: none;
    padding: 0;
}

input[type=radio] {
    border: 1px solid #E5E9F5;
    padding: 10px;
}

::placeholder {
    font-size: larger;
    visibility: hidden;
}

.fieldsetitem {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.itemsboxfs {
    margin-top: 20px;
}

label,
legend {
    font-size: 20px;
}

option,
select {
    font-size: 18px;
}

input[type=submit] {
    background-color: #00A8FF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 30%;
    cursor: pointer;
    transition: .25s;
}

input[type=submit]:hover {
    background-color: #1d92cc;
    color: #fff;
    transition: .25s;
}

input:disabled {
    background-color: rgb(168, 163, 163);
    color: #fff;
    cursor: default;
}

input:disabled:hover {
    background-color: rgb(168, 163, 163);
    color: #fff;
    cursor: default;
}

p {
    font-size: 22px;
}