/*Ce n'est pas responsive...*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
html {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    height: 100px;
    background-color: white;
    z-index: 99;
    /* border-bottom: 1px solid black; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navig {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 1050px;
}

.navig>.item {
    padding: 0px 25px;
    margin: 0;
    font-size: 20px;
    float: left;
}

.navig a {
    text-decoration: none;
    color: black;
}

.logo {
    font-family: 'Whisper', cursive;
    font-size: 55px;
    padding: 10px;
    position: relative;
    left: 50px;
    font-weight: 500;
    user-select: none;
}

.active {
    font-weight: bold;
}

main {
    position: relative;
    top: 100px;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
}

#img-plage {
    width: 100%;
    user-select: none;
}

.text {
    /* background-color: gray; */
    width: fit-content;
    padding: 40px;
    z-index: 90;
    position: absolute;
    top: 250px;
    left: 1200px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}

.text>h1,
h2 {
    font-size: 70px;
    color: black;
}