@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 90px;
}

.navig {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 1200px;
}

.navig > .item {
    padding: 0px 25px;
    margin: 0;
}